.Slide
{
    height:100%;
    width:100%;
    position: relative;
}

.Slide img
{
   
    height:100%;
    width:100%;
    object-fit: cover;
    background: var(--light-green);
}

.Slide_Header
{
    background-color: var(--green);
    color:#fff;
    position: absolute;
    left: 10px;
    bottom:20px;
    padding:5px;
    font-size:14px;
    max-width:72%;
}

.Slide_Header i
{
    font-size:10px;
}