.NavItem
{
   background-color: var(--grey-brown);
   color: #fff;
   text-align: center;
   border-left: 8px solid #fff;
   margin-top: 8px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.04em;
}

.NavItem:nth-of-type(1)
{
    margin-top: 0px;
}

.NavItem a 
{
    display: block;
    color: #fff;    
    padding: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.NavItem a.Active
{
   color: var(--green);
}