.Search
{
    border: 1px solid var(--green) ;    
    border-radius: 50px;    
    width:30vw;
    min-width:315px;
    max-width:350px;
    position: fixed;
    right:50%;
    top: 64px;
    transform: translateX(50%);
    font-size: 18px ;
    padding: 8px 4px 8px 45px;
    background: #fff;
    z-index:60;
}


.Icon
{
    position: absolute;
    left:10px;
    width:24px;
    cursor:pointer;
}

.Search input
{
    border: 0;
    display: block;
    outline: none;
}



@media  (min-width:768px)
{
    .Search
    {        
        transform: unset;
        right:15px;   
        top: 60px; 
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid var(--green) ;
    }
}

@media (min-width:993px)
{
    .Search
    {        
        top: 0px; 
    }

}


