.Search
{
    border-bottom: 1px solid var(--green) ;
    min-width:280px;
    width:30vw;
    max-width:300px;
    position: fixed;
    right:50%;
    top: 58px;
    transform: translateX(50%);
    font-size: 20px ;
    padding: 8px 4px 8px 40px;
    background: #fff;
    z-index:60;
}


.Search input
{
    border: 0;
    display: block;
    outline: none;
}



@media  (min-width:768px)
{
    .Search
    {        
        transform: unset;
        right:15px;   
        top: 50px; 
    }
}

@media (min-width:993px)
{
    .Search
    {        
        top: 0px; 
    }

}


